#textField{
    margin-left: 10px !important;
    margin-right: 10px !important;
    display: inline;
}

.form{
    margin-top:20px;
}

.buttonSubmit{
    margin-top:2.3%;
    margin-left:2.3%;
}

.buttonSubmit{
    margin-top:2.3%;
    margin-left:2.3%;
}

.tituloForm{
    margin-left: 10px !important;
}